/* Storybook Docs Theme Support */
#storybook-docs {
  background-color: var(--color-page-default);
  color: var(--color-default-base);
}

.docs-story {
  background-color: var(--color-page-default);
}

.sb-show-main.sb-main-fullscreen {
  margin: 0 auto !important;
}
